[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
connexion = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
gunicorn = "*"
jsonschema = "*"
swagger-ui-bundle = "*"
pytest = "<=4.*"
pymysql = "*"
python-dotenv = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
